<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: html_head">
</head>
<body style="
    background: url('images/bg_img.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;">
<div th:replace="fragments :: header">
</div>
<div class="d-flex" style="justify-content: center; align-items: center; height: 90vh;">
  <form method="POST" th:action="@{/forgotPassword}" class="form-signup">

    <div class="bg-light p-5" style="border-radius: 5%;">

      <h2 class="text-center"><b>FORGOT PASSWORD</b></h2>

      <label class="form-label pt-3" for="username">Username</label>
      <input id="username" name="username" type="text" class="form-control" placeholder="Username" />

      <label class="form-label pt-3" for="email">Email</label>
      <input id="email" name="email" type="email" class="form-control mb-3" placeholder="Email" />

      <div class="alert alert-danger text-center mt-3" th:if="${param.error}" >
        Invalid Username or Email
      </div>

      <div class="d-grid col-8 mx-auto">
        <button type="submit" class="btn btn-dark">Submit</button>
      </div>
    </div>
  </form>
</div>
</body>
</html>