<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: html_head">
</head>
<body th:style="
    'background: url(' + @{/images/bg_img.jpg} + ') no-repeat center center fixed;' +
    '-webkit-background-size: cover;' +
    '-moz-background-size: cover;' +
    '-o-background-size: cover;' +
    'background-size: cover;'">

<div th:replace="fragments :: header">
</div>
<div class="container my-4" style="justify-content: center; align-items: center; width: 40%;">
  <form method="POST" th:action="@{/changePassword}" class="form-signup">
    <div class="alert alert-danger text-center mt-3" th:if="${param.password_error}">
      Password and Confirm Password do not matching
    </div>
    <div class="alert alert-danger text-center mt-3" th:if="${param.password_empty_error}">
      Password input boxes cannot be empty
    </div>

    <div class="bg-light p-5" style="border-radius: 5%;">

      <h2 class="text-center"><b>Reset Password</b></h2>

      <label class="form-label pt-3" for="password">New Password</label>
      <input id="password" name="password" type="password" class="form-control mb-3" placeholder="********" />

      <label class="form-label pt-3" for="password">Confirm New Password</label>
      <input id="cpassword" name="cpassword" type="password" class="form-control mb-3" placeholder="********" />

      <input type="hidden" name="username" th:value="${username}">

      <div class="d-grid col-8 mx-auto">
        <button type="submit" class="btn btn-dark">Change Password</button>
      </div>
    </div>
  </form>
</div>
</body>
</html>