<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: html_head">
</head>
<body>
    <div th:replace="fragments :: header">
    </div>
    <div>
        <div class="container" style="justify-content: center; align-items: center; width: 70%">
            <div class="row">
                <h1 class="text-center mt-5"><b>Weekly Planned Meal</b></h1>
                <div style="display: flex; justify-content: end;">
                    <a class="nav-link" href="/addPlan"><button class="btn btn-dark">Add Meal</button></a>
                </div>
                <div>
                    <table class="table" id="view_plan">
                        <tr>
                            <th>Date</th>
                            <th>Meal Time</th>
                            <th>Recipe</th>
                            <th></th>
                        </tr>
                        <tr th:each="plan : ${plans}">
                            <td th:text="*{plan.date}"></td>
                            <td th:text="*{plan.mealTime}"></td>
                            <td><a th:href="${'/recipe/' + plan.recipe.id}" style="text-decoration: none; color: black;"><div th:text="*{plan.recipe.name}"></div></a></td>
                            <td><a th:href="'/deletePlan/' + ${plan.id}"><button class="btn btn-danger btn-sm">DELETE</button></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>